Flask==3.1.3
psycopg[binary]==3.3.5
boto3==1.43.92
azure-storage-blob==12.30.1
azure-identity==1.25.3
python-dotenv==1.2.3
gunicorn==26.2.0


reportlab==5.0.1
python-docx==1.2.0
openpyxl==3.1.5
Pillow==12.3.0
